<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteCtrol</servlet-name>
        <servlet-class>controlador.ClienteCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoCtrol</servlet-name>
        <servlet-class>controlador.ProductoCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioCtrol</servlet-name>
        <servlet-class>controlador.FuncionarioCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCtrol</servlet-name>
        <servlet-class>controlador.ReporteCtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionCtrol</servlet-name>
        <servlet-class>controlador.SesionCtrol</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteCtrol</servlet-name>
        <url-pattern>/ClienteCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoCtrol</servlet-name>
        <url-pattern>/ProductoCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioCtrol</servlet-name>
        <url-pattern>/FuncionarioCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCtrol</servlet-name>
        <url-pattern>/ReporteCtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionCtrol</servlet-name>
        <url-pattern>/SesionCtrol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
