body {
    background-color: rgb(183, 185, 184);
}

.insertar {
    margin-top: 60px;
    margin-left: 350px;
    background: #DBA901;
    /* height: 180px; */
    width: 40%;
    float: left;
    display: block;
    padding: 7px;
}

#titulo {
    text-align: center;
}

.campos {
    margin-top: 4px;
}

#subir {
    text-align: center;
    margin-top: 7px;
}

.subir {
    padding: 5px;
}
